# Implementación de Support Vector Machines para el proyecto de modelos de autoaprendizaje.

## Importar Librerias a utilizar

In [3]:
from sklearn import datasets

import numpy as np #para hacer calculos cientificos
import pandas as pd #analisis de datos
from matplotlib import pyplot as plt

from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

Importarmo los datos que requerimos de nuestro archivo .csv

In [14]:
Metodos = pd.read_csv("C:/Users/Estrada/Documents/Mineria de Datos AgoDic2021/Cuadernillos_PF/datos_metodos.csv")

visualicemos el contenido de nuestra tabla de datos

In [15]:
Metodos.head()

,Nombre,Nua,Semestre,Genero,Carrera,Materia,Elección,Tiempo de elección,TiempoVideo,TiempoPDF,TiempoAudio,TiempoEjemplo,Fecha_hora,Unnamed: 13
0,Fidel Perez,145424,12,Hombre,LICE,Algebra Matriz 3X3,video,6,0.584572,0.000000,0.696459,1.967743,11/20/2021 22:49,NaN
1,Fidel Perez,145424,12,Hombre,LICE,Ingles VerbosIrregulares,pdf,8,1.985114,0.530954,0.000000,2.158200,11/20/2021 22:49,NaN
2,Fidel Perez,145424,12,Hombre,LICE,Quimica Electrones de Valencia,video,8,1.830355,0.000000,0.000000,0.000000,11/20/2021 22:49,NaN
3,Fidel Perez,145424,12,Hombre,LICE,Ingles PresntSimple,ejemplo,8,0.000000,2.714251,0.000000,2.304171,11/20/2021 22:49,NaN
4,Fidel Perez,145424,12,Hombre,LICE,CalDif Limites,video,11,0.953845,0.020006,0.301034,0.163310,11/20/2021 22:49,NaN

La columna "Nombre", "NUA", "Materia" y "Fecha y hora" las podemos discriminar, ya que no nos proporciona datos como tal para nuestro analisis.

In [16]:
Metodos_data = Metodos.drop(['Nombre'], axis=1)
Metodos_data = Metodos_data.drop(['Nua'], axis=1)
Metodos_data = Metodos_data.drop(['Materia '], axis=1)
Metodos_data = Metodos_data.drop('Unnamed: 13',1)
Metodos_data = Metodos_data.drop(['Fecha_hora'], axis=1)

In [18]:
Metodos_data.describe()

,Semestre,Tiempo de elección,TiempoVideo,TiempoPDF,TiempoAudio,TiempoEjemplo
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,8.687500,9.458333,0.929908,0.895798,0.636745,0.818571
std,1.904634,5.411327,1.568451,1.068273,1.184790,1.207333
min,7.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,6.000000,0.000000,0.000000,0.000000,0.000000
50%,8.000000,9.000000,0.489150,0.602902,0.000000,0.515946
75%,10.250000,11.000000,1.125752,1.426192,0.842861,1.184757
max,12.000000,43.000000,8.875425,3.912428,8.229528,8.009899

Como queremos evaluar con respecto a los datos de "genero", "Semestre" y "carrera", requerimos pasar estos datos de un texto a un valor numerico.

In [19]:
genero= Metodos_data.iloc[:, [1]] 
genero = genero.values

for x in range(96):
    if genero[x]=='Hombre':
        genero[x]=1
    elif genero[x]=='Mujer':
        genero[x]=2
    else :
        genero[x]=0

carrera= Metodos_data.iloc[:, [2]] 
carrera = carrera.values

for x in range(96):
    if carrera[x]=='LICE':
        carrera[x]=1
    if carrera[x]=='LISC':
        carrera[x]=2
    if carrera[x]=='LGE':
        carrera[x]=3
    if carrera[x]=='LEI':
        carrera[x]=4
        
eleccion= Metodos_data.iloc[:, [3]] 
eleccion = eleccion.values

for x in range(96):
    if eleccion[x]=='video':
        eleccion[x]=1
    if eleccion[x]=='pdf':
        eleccion[x]=2
    if eleccion[x]=='audio':
        eleccion[x]=3
    if eleccion[x]=='ejemplo':
        eleccion[x]=4       
        
Metodos_data.iloc[:, [1]] = genero
Metodos_data.iloc[:, [2]] = carrera
Metodos_data.iloc[:, [3]] = eleccion

Metodos_data.head()

,Semestre,Genero,Carrera,Elección,Tiempo de elección,TiempoVideo,TiempoPDF,TiempoAudio,TiempoEjemplo
0,12,1,1,1,6,0.584572,0.000000,0.696459,1.967743
1,12,1,1,2,8,1.985114,0.530954,0.000000,2.158200
2,12,1,1,1,8,1.830355,0.000000,0.000000,0.000000
3,12,1,1,4,8,0.000000,2.714251,0.000000,2.304171
4,12,1,1,1,11,0.953845,0.020006,0.301034,0.163310

In [22]:
#Verifico las características del dataset
print('Características del dataset:')
print(Metodos.DESCR)

Características del dataset:

AttributeError: 'DataFrame' object has no attribute 'DESCR'

Objetivos de X y Y

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

NameError: name 'train_test_split' is not defined